<nav id="sidebar-icon-links">
    <a id="github-link"
       class="icon" title="Github Project" aria-label="Github Project"
       href="https://github.com/cozy-ho">
      {% include svg/github.svg %}
    </a>

  {% comment %}
    Check if we have tag or search pages page active before linking to it.
  {% endcomment %}
  {% assign tags_page = false %}
  {% assign search_page = false %}
  {% for node in site.pages %}
    {% if node.layout == "tags" %}
      {% assign tags_page = node %}
    {% elsif node.layout == "search" %}
      {% assign search_page = node %}
    {% endif %}
  {% endfor %}

  {% include custom-icon-links.html %}
</nav>
