<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}
  {% include google-analytics.html %}
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-6057383724985413",
    enable_page_level_ads: true
  });
</script>

  <body class="{{ page.layout }}{% if page.url == '/' %} home{% endif %}">

    {% include sidebar.html %}

    <main class="container">
      {{ content }}
    </main>
    /*** DELETE Channel Plugin bco it change pricing model
        <!-- Channel Plugin Scripts -->
    <script>
      window.channelPluginSettings = {
        "pluginKey": "533e2d02-4b56-4730-832d-a92f6f727891"
      };
      (function() {
        var node = document.createElement('div');
        node.id = 'ch-plugin';
        document.body.appendChild(node);
        var async_load = function() {
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = '//cdn.channel.io/plugin/ch-plugin-web.js';
          s.charset = 'UTF-8';
          var x = document.getElementsByTagName('script')[0];
          x.parentNode.insertBefore(s, x);
        };
        if (window.attachEvent) {
          window.attachEvent('onload', async_load);
        } else {
          window.addEventListener('load', async_load, false);
        }
      })();
    </script>
    <!-- End Channel Plugin -->
    */
    {% include custom-foot.html %}
  </body>
</html>
